# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Ignorar todos los archivos Markdown
*.md

# Excepto el README.md
!README.md

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db